<header class="jumbotron subhead" id="overview">
    <h1>BUI - Backbone User Interface</h1>

    <p class="lead">BUI was built to easy the task to create reusable components for your BackboneJS applications.</p>

    <h3>Bootstrap Components</h3>

    <div class="subnav">
        <ul class="nav nav-pills">
            <li class="active"><a href="#buttons" data-bitly-type="bitly_hover_card">Buttons</a></li>
            <li><a href="#alerts" data-bitly-type="bitly_hover_card">Alerts</a></li>
            <li><a href="#modals" data-bitly-type="bitly_hover_card">Modals</a></li>
            <li><a href="#collapse" data-bitly-type="bitly_hover_card">Collapse</a></li>
            <li><a href="#redactor" data-bitly-type="bitly_hover_card">Redactor</a></li>
        </ul>
    </div>
</header>